.App {
  text-align: center;
  background-color: #F7F7F7;
}
a:link {
  text-decoration: none;

}


h1, h2, p {
  text-align:center;
  font-family: 'Roboto';
  letter-spacing: 1px;
  text-decoration: none;
  border: none;
  outline: none;
  font-size: 25px;

}

h3 {
  display: flex;
  justify-content: space-evenly;
  font-family: 'Roboto';
  margin: 40px 0;
  padding: 10px;
}

p {
  color: #336501;
}

img {
  max-width: 100%;
  width: 600px;
  height: auto;
  margin: 0px auto 0px auto;
}

button {
text-align: center;
cursor: pointer;
  width: 100px;
  height: 40px;
  border: none;
  outline: none;
  color: white;
  background-color: #336501;
  letter-spacing: 2px;
  margin: 10px 0;
}

button:hover {
  outline: #F7F7F7;
  border: #F7F7F7;
}

.form {
  height: 100%;
  text-align: center;
  display: flex;
 
  }

  /* a{
    outline: none;
    display: flex;
    justify-content: space-evenly;
  } */

  @media screen and (max-width: 600px) { 
    .App {
      background-color: #FFCC33;
    }
    button { 
        height: 0 auto;
    }
    button:hover {
      background: #F7F7F7;
      color: #000000;
    }
  }